<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd


		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd



		http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd">

    <mvc:annotation-driven enable-matrix-variables="true"/>
    <context:component-scan base-package="com.roytrack.springmvc.controller" use-default-filters="false">
        <context:include-filter type="annotation" expression="org.springframework.stereotype.Controller"/>
        <context:include-filter type="annotation"
                                expression="org.springframework.web.bind.annotation.ControllerAdvice"/>

    </context:component-scan>
    <context:component-scan base-package="com.roytrack.springmvc.model,com.roytrack.springmvc.validation">
        <context:exclude-filter type="annotation"
                                expression="org.springframework.stereotype.Service"/>
    </context:component-scan>
    <mvc:interceptors>
        <mvc:interceptor>
            <mvc:mapping path="/**"/>
            <bean id="timeInterceptor" class="com.roytrack.springmvc.interceptor.TimeBasedAccessInterceptor">
                <property name="openTime" value="9"/>
                <property name="closeingTime" value="24"/>
            </bean>
        </mvc:interceptor>
    </mvc:interceptors>


    <!--<bean  class="org.springframework.web.servlet.mvc.method.annotation.RequestMappingHandlerAdapter">-->
    <!--<property name="callableInterceptors">-->
    <!--<list>-->
    <!--<ref bean="timeInterceptor"/>-->
    <!--</list>-->
    <!--</property>-->
    <!--</bean>-->


    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver"
          p:prefix="/WEB-INF/jsp/"
          p:suffix=".jsp"/>
</beans>