<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.roytrack.spring.transaction.mapper.boo.BooMapper">
    <resultMap id="BaseResultMap" type="com.roytrack.spring.transaction.mapper.boo.BooMapper">

        <result column="myname" jdbcType="VARCHAR" property="myname"/>
        <result column="myaccount" jdbcType="INTEGER" property="myaccount"/>

    </resultMap>
    <sql id="Base_Column_List">
myname,myaccount
  </sql>

    <update id="updateStatus" parameterType="com.roytrack.spring.transaction.model.boo.Boo">
    update boo set myaccount=56565
    where myname=#{myname}
  </update>
</mapper>