<beans xmlns="http://www.springframework.org/schema/beans" 
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="
       http://www.springframework.org/schema/beans 
       http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">
    
    <bean id="userService" class="com.roytrack.spring.core.transaction.service.impl.UserServiceImpl">
        <property name="userDao" ref="userDao"/>
        <property name="txManager" ref="txManager"/>
        <property name="addressService" ref="addressService"/>
    </bean>

    <bean id="addressService" class="com.roytrack.spring.core.transaction.service.impl.AddressServiceImpl">
        <property name="addressDao" ref="addressDao"/>
        <property name="txManager" ref="txManager"/>
    </bean>

    
</beans>


